<table class="table table-responsive table-hover text-center mt-5">

  <thead>
  <tr>
    <th class="text-center">Esemény neve</th>
    <th class="text-center">Időpont</th>
    <th class="text-center">Előadó neve</th>
    <th class="text-center">Hány db?</th>
    <th class="text-center">Licitek megtekintése</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let ticket of tickets">
    <td scope="row">
      <a [routerLink]="['/event', ticket.eventId]">
        {{ ticket.event.name }}
      </a>
    </td>
    <td>{{ ticket.date }}</td>
    <td class="d-none d-md-table-cell">{{ ticket.seller.name }}</td>
    <td class="d-none d-md-table-cell">{{ ticket.numberOfTickets }}</td>
    <td><a [routerLink]="['/ticket', ticket.id, 'bid']">Tovább a licithez</a></td>
  </tr>

  </tbody>
</table>

