<table class="table table-responsive table-hover text-center mt-5">

  <thead>
  <tr>
    <th class="text-center">Esemény neve</th>
    <th class="text-center">Időpont</th>
    <th class="text-center">Előadó neve</th>
    <th class="text-center">Hány db?</th>
    <th class="text-center">Licitek megtekintése</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td scope="row" data-toggle="tooltip" data-placement="bottom"
        title="Még 3 napig lehet licitálni, az esemény megtekintéséhez kattints ide">
      <a href="#">Sziget fesztivál</a>
    </td>
    <td>2018.08.03. 13:00</td>
    <td class="d-none d-md-table-cell">Példa Jóska</td>
    <td class="d-none d-md-table-cell">3db</td>
    <td><a [routerLink]="['/ticket',5,'bid']">Tovább a licithez</a></td>
  </tr>

  </tbody>
</table>

