<div class="content-container">

  <!-- navbar -->
  <app-navbar></app-navbar>
  <!-- navbar end -->

  <!-- jumbotron -->
  <app-jumbotron></app-jumbotron>


  <!-- cards -->

  <div class="container">
    <div class="card-deck pt-5">
  <app-eventcard class="col col-md-6 col-lg-4"></app-eventcard>
  <app-eventcard class="col col-md-6 col-lg-4"></app-eventcard>
  <app-eventcard class="col col-md-6 col-lg-4"></app-eventcard>
      </div>
  </div>
</div>
<!-- footer -->
<app-footer></app-footer>

