<div class="card">
  <div class="card-header">
    Chat
  </div>
  <div class="card-body">
    <ul class="chat-messages-list">
      <li class="left clearfix">
        <span class="float-left">
          <img src="assets/user.svg" alt="felhasznalo kepe" class="user-image rounded-circle" />
        </span>
        <div class="clearfix chat-message">
          <div class="chat-massage-header">
            <strong>USER</strong>
            <small class="float-right text-muted">x idővel ezelőtt</small>
          </div>
          <p>
            Lorem ipsum...........
            Lorem ipsum...........
            Lorem ipsum...........
            Lorem ipsum...........
            Lorem ipsum...........
            Lorem ipsum...........
            Lorem ipsum...........
            Lorem ipsum...........
            Lorem ipsum...........
          </p>
        </div>
      </li>
    </ul>
  </div>
  <div class="card-footer">
    footer
  </div>
</div>
